<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>MadLibs</title>
  </head>
  <body>
    <h1>MadLibs</h1>
    <h3>Choose a theme</h3>
    <ul>
      <li><a href="/shakespeareform">Shakespeare</a> </li>
      <li><a href="/poeform">Poe</a></li>
    </ul>
  </body>
</html>
