<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>MadLibs</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <form action="/poeresult" method="post">
      <label for="adjective1">Adjective</label>
      <input id="adjective1" name="adjective1" type="text">
      <label for="adjective2">Adjective</label>
      <input id="adjective2" name="adjective2" type="text">
      <label for="adjective3">Adjective</label>
      <input id="adjective3" name="adjective3" type="text">
      <label for="noun1">Noun</label>
      <input type="text" name="noun1" id="noun1">
      <label for="noun2">Noun</label>
      <input type="text" name="noun2" id="noun2">
      <label for="pastverb1">Verb (Past-tense)</label>
      <input id="pastverb1" name="pastverb1" type="text">
      <label for="noun3">Noun</label>
      <input type="text" name="noun3" id="noun3">
      <label for="noun4">Noun</label>
      <input type="text" name="noun4" id="noun4">
      <label for="place1">Place</label>
      <input type="text" name="place1" id="place1">
      <label for="noun5">Noun</label>
      <input type="text" name="noun5" id="noun5">
      <button type="submit">Go!</button>
    </form>
  </body>
</html>
