<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>MadLibs</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <form action="/shakespeareresult" method="post">
      <label for="pluralnoun1">Plural Noun</label>
      <input id="pluralnoun1" name="pluralnoun1" type="text">
      <label for="place1">Place</label>
      <input id="place1" name="place1" type="text">
      <label for="noun1">Noun</label>
      <input type="text" name="noun1" id="noun1">
      <label for="pluralnoun2">Plural Noun</label>
      <input type="text" name="pluralnoun2" id="pluralnoun2">
      <label for="noun2">Noun</label>
      <input type="text" name="noun2" id="noun2">
      <label for="adjective1">Adjective</label>
      <input type="text" name="adjective1" id="adjective1">
      <label for="verb1">Verb</label>
      <input type="text" name="verb1" id="verb1">
      <label for="number1">Number</label>
      <input type="text" name="number1" id="number1">
      <label for="adjective2">Adjective</label>
      <input type="text" name="adjective2"id="adjective2">
      <label for="bodypart1">Body Part</label>
      <input type="text" name="bodypart1" id="bodypart1">
      <label for="verb2">Verb</label>
      <input type="text" name="verb2" id="verb2">
      <button type="submit">Go!</button>
    </form>
  </body>
</html>
